.grid.md\:grid-cols-2.xl\:grid-cols-3 {
  grid-template-columns: 1fr 1fr !important;
}

@media (min-width: 768px) {
  .grid.md\:grid-cols-2.xl\:grid-cols-3 {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media (min-width: 1280px) {
  .grid.md\:grid-cols-2.xl\:grid-cols-3 {
    grid-template-columns: 1fr 1fr !important;
  }
}